/* color palette*/
:root {
  --vt-c-grey: #F4F4F4;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-grey);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* No dark mode in Figma design */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  background: var(--color-background);
  line-height: 1.6;
  font-family: Anybody, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
